<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java110.things.dao.ICommunityServiceDao">

    <select id="get" parameterType="string" resultType="Map">
        select * from u_user
    </select>

    <!-- 保存小区 -->
    <insert id="saveCommunity" parameterType="com.java110.things.entity.community.CommunityDto">
        INSERT INTO
        s_community (community_id, name, address, city_code,ext_community_id,app_id)
        VALUES (#{communityId}, #{name}, #{address}, #{cityCode},#{extCommunityId},#{appId})
    </insert>


    <select id="getCommunityCount" parameterType="com.java110.things.entity.community.CommunityDto"
            resultType="long">
        select
        count(1) count
        from s_community t
        left join city_area ca on t.city_code = ca.area_code and ca.status_cd = '0'
        left join city_area ca1 on ca1.area_code = ca.parent_area_code and ca.status_cd = '0'
        where 1=1
        <if test="communityId != null and communityId != ''">
            and t.community_id = #{communityId}
        </if>
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and t.city_code = #{cityCode}
        </if>
        <if test="extCommunityId != null and extCommunityId != ''">
            and t.ext_community_id = #{extCommunityId}
        </if>
        <if test="appId != null and appId != ''">
            and t.app_id = #{appId}
        </if>
        and t.status_cd = '0'

    </select>

    <!--
        查询小区信息
    -->
    <select id="getCommunitys" parameterType="com.java110.things.entity.community.CommunityDto"
            resultType="com.java110.things.entity.community.CommunityDto">
        select
        t.community_id communityId,
        t.name ,
        t.address,
        t.city_code cityCode,
        t.create_time createTime,
        t.ext_community_id extCommunityId,
        t.app_id appId,
        ca.area_name areaName,
        ca.parent_area_name cityName,
        ca1.parent_area_name provName
        from s_community t
        left join city_area ca on t.city_code = ca.area_code and ca.status_cd = '0'
        left join city_area ca1 on ca1.area_code = ca.parent_area_code and ca.status_cd = '0'
        where 1=1
        <if test="communityId != null and communityId != ''">
            and t.community_id = #{communityId}
        </if>
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and t.city_code = #{cityCode}
        </if>
        <if test="extCommunityId != null and extCommunityId != ''">
            and t.ext_community_id = #{extCommunityId}
        </if>
        <if test="appId != null and appId != ''">
            and t.app_id = #{appId}
        </if>
        and t.status_cd = '0'
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>

    <update id="updateCommunity" parameterType="com.java110.things.entity.community.CommunityDto">
        update s_community t
        <trim prefix="SET" suffixOverrides=",">
            <if test="communityId != null and communityId != ''">
                t.community_id = #{communityId},
            </if>
            <if test="name != null and name != ''">
                t.name = #{name},
            </if>
            <if test="address != null and address != ''">
                t.address = #{address},
            </if>
            <if test="cityCode != null and cityCode != ''">
                t.city_code = #{cityCode},
            </if>
            <if test="statusCd != null and statusCd != ''">
                t.status_cd = #{statusCd},
            </if>
            <if test="extCommunityId != null and extCommunityId != ''">
                t.ext_community_id = #{extCommunityId}
            </if>
        </trim>
        where 1=1
        and t.status_cd = '0'
        <if test="communityId != null and communityId != ''">
            and t.community_id = #{communityId}
        </if>
        <if test="appId != null and appId != ''">
            and t.app_id = #{appId}
        </if>
    </update>

</mapper>