<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java110.things.dao.IUserServiceDao">

    <select id="get" parameterType="string" resultType="Map">
        select * from u_user
    </select>

    <select id="getUser" parameterType="com.java110.things.entity.user.UserDto"
            resultType="com.java110.things.entity.user.UserDto">
        SELECT
            u.id,
            u.name userName,
            u.`password`,
            u.email,
            u.user_id userId,
            u.tel,
            u.level_cd levelCd,
            u.create_time createTime,
            u.sex,
            u.age,
            u.app_id appId
        FROM
            u_user u
        WHERE
        1=1
        <if test="username != null and username != ''">
           and u.name = #{username}
        </if>
        <if test="password != null and password != ''">
            and u.password = #{password}
        </if>
        <if test="userId != null and userId != ''">
            and u.user_id = #{userId}
        </if>
        <if test="tel != null and tel != ''">
            and u.tel = #{tel}
        </if>
        <if test="appId != null and appId != ''">
            and u.app_id = #{appId}
        </if>
        and u.status_cd = '0'
        limit 1
    </select>

    <select id="getUserList" parameterType="com.java110.things.entity.user.UserDto"
            resultType="com.java110.things.entity.user.UserDto">
        SELECT
        u.id,
        u.name userName,
        u.`password`,
        u.email,
        u.user_id userId,
        u.tel,
        u.level_cd levelCd,
        u.create_time createTime,
        u.sex,
        u.age,
        u.app_id appId
        FROM
        u_user u
        WHERE
        1=1
        <if test="username != null and username != ''">
            and u.name like '%${username}%'
        </if>
        <if test="password != null and password != ''">
            and u.password = #{password}
        </if>
        <if test="userId != null and userId != ''">
            and u.user_id = #{userId}
        </if>
        <if test="tel != null and tel != ''">
            and u.tel = #{tel}
        </if>
        <if test="appId != null and appId != ''">
            and u.app_id = #{appId}
        </if>
        and u.status_cd = '0' and u.name != 'admin'
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <select id="getUserCount" parameterType="com.java110.things.entity.user.UserDto" resultType="long">
        select
        count(1) count
        FROM
        u_user u
        WHERE
        1=1
        <if test="username != null and username != ''">
            and u.name like '%${username}%'
        </if>
        <if test="password != null and password != ''">
            and u.password = #{password}
        </if>
        <if test="userId != null and userId != ''">
            and u.user_id = #{userId}
        </if>
        <if test="tel != null and tel != ''">
            and u.tel = #{tel}
        </if>
        <if test="appId != null and appId != ''">
            and u.app_id = #{appId}
        </if>
        and u.status_cd = '0' and u.name != 'admin'
    </select>

    <update id="updateUserPassword" parameterType="com.java110.things.entity.user.UserDto">
        update u_user u
        set u.password = #{password}
        where
        1=1
        <if test="username != null and username != ''">
            AND u.name = #{username}
        </if>
        <if test="userId != null and userId != ''">
            AND u.user_id = #{userId}
        </if>
        <if test="appId != null and appId != ''">
            and u.app_id = #{appId}
        </if>
    </update>

    <insert id="insertUser" parameterType="com.java110.things.entity.user.UserDto">
        insert into u_user
        (
        `user_id`,
        `name`,
        `address`,
         `email`,
        `password`,
        `age`,
        `sex`,
        `tel`,
        `level_cd`,
        `create_time`,
        `status_cd`,
        app_id
        )
        values
        (
        #{userId},
        #{username},
        #{address},
        #{email},
        #{password},
        #{age},
        #{sex},
        #{tel},
        #{levelCd},
        #{createTime},
        #{statusCd},
        #{appId}
        )
    </insert>

    <update id="updateUser" parameterType="com.java110.things.entity.user.UserDto">
        update u_user
        <set>
            <if test="userId != null">`user_id` = #{userId}, </if>
            <if test="username != null">`name` = #{username}, </if>
            <if test="email != null">`email` = #{email}, </if>
            <if test="address != null">`address` = #{address}, </if>
            <if test="password != null">`password` = #{password}, </if>
            <if test="age != null">`age` = #{age}, </if>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="tel != null">`tel` = #{tel}, </if>
            <if test="levelCd != null">`level_cd` = #{levelCd}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="statusCd != null">`status_cd` = #{statusCd}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="string">
		delete from u_user where user_id = #{value}
	</delete>
</mapper>