<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java110.things.dao.IUserServiceDao">

    <select id="get" parameterType="string" resultType="Map">
        select * from u_user
    </select>

    <select id="getUser" parameterType="com.java110.things.entity.user.UserDto"
            resultType="com.java110.things.entity.user.UserDto">
        SELECT
            u.name userName,
            u.`password`,
            u.email,
            u.user_id userId,
            u.tel,
            u.level_cd levelCd,
            u.create_time createTime,
            u.sex,
            u.age
        FROM
            u_user u
        WHERE
        1=1
        <if test="username != null and username != ''">
           and u.name = #{username}
        </if>
        <if test="password != null and password != ''">
            and u.password = #{password}
        </if>
        <if test="userId != null and userId != ''">
            and u.user_id = #{userId}
        </if>
        <if test="tel != null and tel != ''">
            and u.tel = #{tel}
        </if>
        and u.status_cd = '0'
        limit 1
    </select>

    <update id="updateUserPassword" parameterType="com.java110.things.entity.user.UserDto"
    >
        update u_user u
        set u.password = #{password}
        where
        1=1
        <if test="username != null and username != ''">
            AND u.name = #{username}
        </if>
        <if test="userId != null and userId != ''">
            AND u.user_id = #{userId}
        </if>
    </update>

</mapper>